{% extends "layout.html" %}

{% from "macro.html" import add_entry with context %}
{% from "macro.html" import build_list with context %}


{% block head %}
<script
    type="text/javascript"
    src="{{ url_for('static', filename='scripts/callbacks.js') }}"></script>
<script
    type="text/javascript"
    src="{{ url_for('static', filename='scripts/jquery/jquery.js') }}"></script>
<style type="text/css">
 /* avoid idiotic rss entries using the pre tag */
 pre {
   white-space: pre-wrap;       /* Since CSS 2.1 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
 }
</style>

{% endblock %}


{% block body %}

{% if session.logged_in and session.username %}
{{ add_entry() }}
{% endif %}

{{ build_list(data) }}


<script type="text/javascript">
 $(document).ready(function(){
   $(".entry-title").click(function(){
     txt = $(this.parentNode.parentNode).find(".entry-text")
     toggleEntry(txt)
   });
 });
</script>


{% endblock %}
