{% extends "image_text.html" %}


{% block nopreceding %}
<div class="w3-panel w3-padding-0">
  <img
     src="{{ url_for('static', filename='imgs/homepage.jpg') }}"
     alt="Beekeeping Image"
     class="w3-circle"
     style="width:100%">
</div>
{% endblock %}

{% block image %}
<div class="w3-panel w3-margin w3-card w3-border w3-circle w3-sand">
  <p>
    <img
	src="{{ url_for('static', filename='imgs/killinchy_logo_alp_trim.png') }}"
	alt="Large Logo"
	style="width:100%">
  </p>
</div>
{% endblock %}

{% block title %}
<h2 class="w3-text-blue">Welcome to the Killincy Beekeepers Association Webpage</h2>
{% endblock %}

{% block text %}
<p>
  We are an association of beekeepers based in the Killinchy District and surrounding area of
  County Down
  in Northern Ireland.
  Our aim is to support local beekeepers, organise the educational courses and social events.
</p>
<p>
  Association meetings are held on the 4th Wednesday of each month, providing an informative
  and entertaining programme of
  talks and events throughout the year.
</p>
<p>
  If you are not a beekeeper yet, we hope this site will help you become better informed about bees
  and beekeeping and be impressed and amazed (like the rest of us) by all that beekeeping entails.
</p>
<p>
  Please feel free to contact us for any enquiries you may have.
</p>
{% include "contact.html" %}
{% endblock %}

