<!DOCTYPE html>

<!-- layout.html base template -->

<html lang="en">
  <head>
    <title>Killinchy Beekeepers Association</title>
    <link
	rel="stylesheet"
	type="text/css"
	href="{{ url_for('static', filename='css/w3.css') }}">
    <link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script
	type="text/javascript"
	src="{{ url_for('static', filename='scripts/jquery/jquery.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% set sidenav_width = "120px" %}
    {% include "sidenav.html" %}
    <div class="w3-container w3-main" style="margin-left:{{ sidenav_width }}px">
      {% include "title.html" ignore missing %}
      <div class="w3-container w3-padding-0">
	{% block body %}
	Hello!
	{% endblock %}
      </div>
      {% include "footer.html" ignore missing %}
    </div>
  </body>

  <script>
   $(document).ready(function(){
     $("#sidenav_bars").click(sidenav_open)
   })
  </script>
</html>
