<!DOCTYPE html>

<!-- layout.html base template -->

<html lang="en">

  <head>
    <title>bee-feed</title>
    <link
	rel="stylesheet"
	type="text/css"
	href="{{ url_for('static', filename='css/w3.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
	type="text/javascript"
	src="{{ url_for('static', filename='scripts/callbacks.js') }}"></script>
    <script
	type="text/javascript"
	src="{{ url_for('static', filename='scripts/jquery/jquery.js') }}"></script>
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <header class="w3-container w3-yellow w3-text-deep-orange">
      {% block top %}
      <h1 class="logo">
	<img
	    src="{{ url_for('static', filename='imgs/logo_temp.png') }}"
	    alt="Logo"
	    width="40">
	<span>Bee Feed</span>
      </h1>
      {% endblock %}
    </header>

    <div class="w3-container w3-padding-0 w3-center">
      <ul class="w3-navbar w3-yellow w3-text-deep-orange">
	<li><a href="/">Home</a></li>
	<li><a href="/feed/">Live Bee Feed</a></li>
	{% if username %}
	<li><a href="/logout/">{{ username }} (logout)</a></li>
	{% else %}
	<li><a href="/login/">Login</a></li>
	{% endif %}
      </ul>
    </div>

    <div class="w3-container w3-light-green w3-padding-0">
      <div class="w3-container">
	{% block body %}
	<p>
	  No Content
	</p>
	{% endblock %}
      </div>
    </div>


    <footer class="w3-container w3-yellow w3-text-deep-orange">
      {% block tail %}
      <p>Bee-Feed by Hector</p>
      {% endblock %}
    </footer>
  </body>

  <script type="text/javascript">
    $(document).ready(function(){
      $(".entry").click(function(){
	toggleEntry(this)
      });
    });
  </script>

</html>
