<nav
    class="w3-sidenav w3-collapse w3-white w3-card-2 w3-text-blue"
    id="mySidenav"
    style="width:{{ sidenav_width }};">
  <div class="w3-container" style="width:100%">
    <a class="w3-padding-0" href="/">
      <img
	  src="{{ url_for('static', filename='imgs/killinchy_logo_alp_circ_sym.png') }}"
	  alt="Logo"
	  width="100%">
    </a>
  </div>
  <a
      href="javascript:void(0)"
      onclick="w3_close()"
      class="w3-closenav w3-large w3-hide-large"
      id="sidenav_close">Close</a>
  <a href="/">Home</a>
  <div class="w3-dropdown-hover w3-text-blue">
    <a href="/about/">About <i class="fa fa-caret-down"></i></a>
    <did class="w3-dropdown-content w3-small w3-card w3-text-blue">
      <a href="#">The Team</a>
      <a href="#">Contacts</a>
    </div>
  </div>
  <a href="/feed/">News</a>
  {% if username %}
  <a href="/logout/">{{ username }} (logout)</a>
  {% else %}
  <a href="/login/">Login</a>
  {% endif %}
</nav>
<script>
 function sidenav_open() {
   document.getElementById("mySidenav").style.display = "block";
 }
 function sidenav_close() {
   document.getElementById("mySidenav").style.display = "none";
 }
</script>
