{% extends "layout.html" %}
{% block body %}
<h2 class="w3-text-blue">Meet the Team</h2>
<p>
  The team is responsible the the overall organization of the association activities.
  This include preparing the yearly activity program; invite the speakers to the
  meeting and organize the logistics, orgaise events, parties for the association
  members and educational activities.
</p>
<p>
  We keep the members
  informed on the latest news and events by updating and managing our social media
  channels including out association website, the Twitter channel, our Facebook page
  and the mailing list.
</p>
{% endblock %}
